{
  "openapi": "3.0.4",
  "info": {
    "title": "Crawler API",
    "description": "## Base URL\n\nThe base URL for making requests to the Crawler API is:\n\n- \u0060https://crawler.algolia.com/api\u0060\n\n**All requests must use HTTPS.**\n\n## Availability and authentication\n\nTo authenticate your API requests, use the **basic authentication** header:\n\n- \u0060Authorization: Basic \u003Ccredentials\u003E\u0060\n\nWhere \u0060\u003Ccredentials\u003E\u0060 is a base64-encoded string \u0060\u003Cuser-id\u003E:\u003Capi-key\u003E\u0060.\n\n- \u0060\u003Cuser-id\u003E\u0060. The Crawler user ID.\n- \u0060\u003Capi-key\u003E\u0060. The Crawler API key.\n\nYou can find both on the [Crawler settings](https://dashboard.algolia.com/crawler/settings) page in the Algolia dashboard.\nThe Crawler credentials are different from your regular Algolia credentials.\n\n## Request format\n\nRequest bodies must be JSON objects.\n\n## Parameters\n\nParameters are passed as query parameters for GET requests,\nand in the request body for POST and PATCH requests.\n\nQuery parameters must be [URL-encoded](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding).\nNon-ASCII characters must be UTF-8 encoded.\n\n## Response status and errors\n\nThe Crawler API returns JSON responses.\nSince JSON doesn\u0027t guarantee any specific ordering, don\u0027t rely on the order of attributes in the API response.\n\nSuccessful responses return a \u00602xx\u0060 status. Client errors return a \u00604xx\u0060 status.\nServer errors are indicated by a \u00605xx\u0060 status.\nError responses have a \u0060message\u0060 property with more information.\n\n## Version\n\nThe current version of the Crawler API is version 1, indicated by the \u0060/1/\u0060 in each endpoint\u0027s URL.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://crawler.algolia.com/api",
      "description": "The URL of the Crawler API."
    }
  ],
  "paths": {
    "/1/crawlers": {
      "get": {
        "tags": [
          "crawler"
        ],
        "summary": "List crawlers",
        "description": "Lists all your crawlers.",
        "operationId": "ListCrawlers",
        "parameters": [
          {
            "$ref": "#/components/parameters/ItemsPerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Name"
          },
          {
            "$ref": "#/components/parameters/AppID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "description": "Invalid credentials."
          },
          "404": {
            "description": "The call does not have results for this combinaison of query params."
          }
        },
        "x-acl": [
          "settings"
        ]
      },
      "post": {
        "tags": [
          "crawler"
        ],
        "summary": "Create a crawler",
        "description": "Creates a new crawler with the provided configuration.",
        "operationId": "CreateCrawler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrawlerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlerCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "description": "The user doesn\u0027t have enough rights to create a Crawler."
          }
        },
        "x-acl": [
          "editSettings"
        ]
      }
    },
    "/1/crawlers/{id}": {
      "get": {
        "tags": [
          "crawler"
        ],
        "summary": "Retrieve crawler details",
        "description": "Retrieves details about the specified crawler, optionally with its configuration.\n",
        "operationId": "GetCrawler",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          },
          {
            "name": "withConfig",
            "in": "query",
            "description": "Whether the response should include the crawler\u0027s configuration.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrawlerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": [
          "settings"
        ]
      },
      "patch": {
        "tags": [
          "crawler"
        ],
        "summary": "Replace crawler configuration",
        "description": "Replaces the crawler configuration with a new one.\n\nIf you only want to change the crawler\u0027s name, you can use this operation.\nFor other configuration changes, use the \u0022Update configuration\u0022 endpoint instead instead,\nbecause changes made here aren\u0027t versioned.\n\nWhen replacing the configuration, you must provide the full configuration,\nincluding any settings you want to keep.\n",
        "externalDocs": {
          "description": "Update configuration.",
          "url": "https://www.algolia.com/doc/rest-api/crawler/patch-config"
        },
        "operationId": "PatchCrawler",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCrawlerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActionAcknowledged"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": [
          "editSettings"
        ]
      },
      "delete": {
        "tags": [
          "crawler"
        ],
        "summary": "Delete a crawler",
        "description": "Delete the specified crawler.",
        "operationId": "DeleteCrawler",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActionAcknowledged"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": [
          "editSettings"
        ]
      }
    },
    "/1/crawlers/{id}/run": {
      "post": {
        "tags": [
          "crawler"
        ],
        "summary": "Unpause a crawler",
        "description": "Unpauses the specified crawler.\nPreviously ongoing crawls will be resumed.\nOtherwise, the crawler waits for its next scheduled run.\n",
        "operationId": "RunCrawler",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActionAcknowledged"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": []
      }
    },
    "/1/crawlers/{id}/pause": {
      "post": {
        "tags": [
          "crawler"
        ],
        "summary": "Pause a crawler",
        "description": "Pauses the specified crawler.",
        "operationId": "PauseCrawler",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActionAcknowledged"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": []
      }
    },
    "/1/crawlers/{id}/reindex": {
      "post": {
        "tags": [
          "crawler"
        ],
        "summary": "Start a crawl",
        "description": "Starts or resumes a crawl.",
        "operationId": "StartReindex",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActionAcknowledged"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": []
      }
    },
    "/1/crawlers/{id}/test": {
      "post": {
        "tags": [
          "crawler"
        ],
        "summary": "Test crawl a URL",
        "description": "Tests a URL with the crawler\u0027s configuration and shows the extracted records.\n\nYou can test configuration changes by overriding specific parts before updating the full configuration.\n",
        "operationId": "TestUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlTest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": []
      }
    },
    "/1/crawlers/{id}/urls/crawl": {
      "post": {
        "tags": [
          "crawler"
        ],
        "summary": "Crawl URLs",
        "description": "Crawls the specified URLs, extracts records from them, and adds them to the index.\nIf a crawl is running (the crawler\u0027s \u0060reindexing\u0060 property is \u0060true\u0060),\nthe records are added to a temporary index.\n\nThis operation is rate-limited to 500 requests every 24 hours.\n",
        "operationId": "CrawlUrls",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrawlUrlsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActionAcknowledged"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": []
      }
    },
    "/1/crawlers/{id}/stats/urls": {
      "get": {
        "tags": [
          "crawler"
        ],
        "summary": "Retrieve crawler stats",
        "description": "Retrieves information about the number of crawled, skipped, and failed URLs.",
        "operationId": "GetStats",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlerStats"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": [
          "settings"
        ]
      }
    },
    "/1/crawlers/{id}/crawl_runs": {
      "get": {
        "tags": [
          "crawler"
        ],
        "summary": "List crawler runs",
        "description": "The Crawler Logs feature lets you monitor and debug your crawler\u2019s activity by recording\ndetailed logs for each crawl run. Logs are useful for troubleshooting crawl issues,\nverifying site coverage, and monitoring crawler performance over time.\n",
        "operationId": "ListCrawlRuns",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/Until"
          },
          {
            "$ref": "#/components/parameters/Status"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/crawlerLogsResponse"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": [
          "settings"
        ]
      }
    },
    "/1/crawlers/{id}/{logId}/download": {
      "get": {
        "tags": [
          "crawler"
        ],
        "summary": "Crawler run file",
        "description": "The Crawler Logs file lets you monitor and debug your crawler\u2019s activity by recording\ndetailed logs for each crawl run. Logs are useful for troubleshooting crawl issues,\nverifying site coverage, and monitoring crawler performance over time.\n",
        "operationId": "GetCrawlRunFile",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          },
          {
            "$ref": "#/components/parameters/CrawlerLogIdParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/crawlerLogsFileResponse"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": [
          "settings"
        ]
      }
    },
    "/1/crawlers/{id}/delete_runs": {
      "post": {
        "tags": [
          "crawler"
        ],
        "summary": "Crawler run record deletion",
        "description": "The Crawler Logs file lets you monitor and debug your crawler\u2019s activity by recording\ndetailed logs for each crawl run. This delete the existing crawler log record, not the actual crawler.\n",
        "operationId": "DeleteCrawlRun",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCrawlRunRequestRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCrawlRun200Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": [
          "settings"
        ]
      }
    },
    "/1/crawlers/{id}/config": {
      "patch": {
        "tags": [
          "crawler"
        ],
        "summary": "Update crawler configuration",
        "description": "Updates the configuration of the specified crawler.\nEvery time you update the configuration, a new version is created.\n",
        "operationId": "PatchConfig",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActionAcknowledged"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": [
          "editSettings"
        ]
      }
    },
    "/1/crawlers/{id}/config/versions": {
      "get": {
        "tags": [
          "crawler"
        ],
        "summary": "List configuration versions",
        "description": "Lists previous versions of the specified crawler\u0027s configuration, including who authored the change.\nEvery time you update a crawler\u0027s configuration, a new version is added.\n",
        "operationId": "ListConfigVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          },
          {
            "$ref": "#/components/parameters/ItemsPerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlerConfigVersionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found."
          }
        },
        "x-acl": [
          "settings"
        ]
      }
    },
    "/1/crawlers/{id}/config/versions/{version}": {
      "get": {
        "tags": [
          "crawler"
        ],
        "summary": "Retrieve a configuration version",
        "description": "Retrieves the specified version of the crawler configuration.\n\nYou can use this to restore a previous version of the configuration.\n",
        "operationId": "GetConfigVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          },
          {
            "$ref": "#/components/parameters/CrawlerVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigVersion"
                }
              }
            }
          },
          "404": {
            "description": "Not found."
          }
        },
        "x-acl": [
          "settings"
        ]
      }
    },
    "/1/crawlers/{id}/tasks/{taskId}": {
      "get": {
        "tags": [
          "crawler"
        ],
        "summary": "Retrieve task status",
        "description": "Retrieves the status of the specified tasks, whether they\u0027re pending or completed.",
        "operationId": "GetTaskStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": [
          "settings"
        ]
      }
    },
    "/1/crawlers/{id}/tasks/{taskId}/cancel": {
      "post": {
        "tags": [
          "crawler"
        ],
        "summary": "Cancel a blocking task",
        "description": "Cancels a blocking task.\n\nTasks that ran into an error will block your crawler\u0027s schedule.\nTo unblock the crawler, cancel the blocking task.\n",
        "operationId": "CancelBlockingAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/CrawlerIdParameter"
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/NoRightsOnCrawler"
          }
        },
        "x-acl": []
      }
    },
    "/1/domains": {
      "get": {
        "tags": [
          "crawler"
        ],
        "summary": "List registered domains",
        "description": "Lists registered domains.\n\nCrawlers will only run if the URLs match any of the registered domains.\n",
        "operationId": "ListDomains",
        "parameters": [
          {
            "$ref": "#/components/parameters/ItemsPerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/AppID"
          }
        ],
        "responses": {
          "200": {
            "description": "Domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/MissingAuthorization"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-acl": [
          "settings"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ItemsPerPage": {
        "maximum": 100,
        "minimum": 1,
        "type": "integer",
        "description": "Number of items per page of the paginated API response.",
        "default": 20
      },
      "Page": {
        "maximum": 100,
        "minimum": 1,
        "type": "integer",
        "description": "Current page of the paginated API response.",
        "default": 1
      },
      "CrawlerName": {
        "maxLength": 64,
        "type": "string",
        "description": "Name of the crawler.",
        "example": "test-crawler"
      },
      "ApplicationId": {
        "type": "string",
        "description": "Algolia application ID where the crawler creates and updates indices.\n"
      },
      "Total": {
        "type": "integer",
        "description": "Total number of retrievable items.",
        "example": 100
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "itemsPerPage": {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "description": "Number of items per page of the paginated API response."
          },
          "page": {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "description": "Current page of the paginated API response."
          },
          "total": {
            "type": "integer",
            "description": "Total number of retrievable items."
          }
        },
        "description": "Pagination information."
      },
      "CrawlerId": {
        "type": "string",
        "description": "Universally unique identifier (UUID) of the crawler.",
        "example": "e0f6db8a-24f5-4092-83a4-1b2c6cb6d809"
      },
      "CrawlersResponse": {
        "type": "object",
        "properties": {
          "itemsPerPage": {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "description": "Number of items per page of the paginated API response."
          },
          "page": {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "description": "Current page of the paginated API response."
          },
          "total": {
            "type": "integer",
            "description": "Total number of retrievable items."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CrawlersResponseAllOf2ItemsItem"
            },
            "description": "Crawlers."
          }
        }
      },
      "Cache": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether the crawler cache is active.",
            "default": true
          }
        },
        "description": "Whether the crawler should cache crawled pages.\n\nFor more information, see [Partial crawls with caching](https://www.algolia.com/doc/tools/crawler/getting-started/crawler-configuration/#partial-crawls-with-caching).\n"
      },
      "UrlPattern": {
        "type": "string",
        "description": "Use [micromatch](https://github.com/micromatch/micromatch) for negation, wildcards, and more.\n",
        "example": "https://www.algolia.com/**"
      },
      "FileTypes": {
        "enum": [
          "doc",
          "email",
          "html",
          "odp",
          "ods",
          "odt",
          "pdf",
          "ppt",
          "xls"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "For more information, see [Extract data from non-HTML documents](https://www.algolia.com/doc/tools/crawler/extracting-data/non-html-documents).\n",
        "x-ms-enum": {
          "name": "FileTypes",
          "modelAsString": false,
          "values": [
            {
              "value": "doc",
              "name": "Doc"
            },
            {
              "value": "email",
              "name": "Email"
            },
            {
              "value": "html",
              "name": "Html"
            },
            {
              "value": "odp",
              "name": "Odp"
            },
            {
              "value": "ods",
              "name": "Ods"
            },
            {
              "value": "odt",
              "name": "Odt"
            },
            {
              "value": "pdf",
              "name": "Pdf"
            },
            {
              "value": "ppt",
              "name": "Ppt"
            },
            {
              "value": "xls",
              "name": "Xls"
            }
          ]
        }
      },
      "HostnameAliases": {
        "type": "object",
        "additionalProperties": {
          "type": "string",
          "description": "Hostname that should be added in the records.",
          "x-additionalPropertiesName": "hostname"
        },
        "description": "Key-value pairs to replace matching hostnames found in a sitemap,\non a page, in canonical links, or redirects.\n\n\nDuring a crawl, this action maps one hostname to another whenever the crawler encounters specific URLs.\nThis helps with links to staging environments (like \u0060dev.example.com\u0060) or external hosting services (such as YouTube).\n\n\nFor example, with this \u0060hostnameAliases\u0060 mapping:\n\n    {\n    hostnameAliases: {\n        \u0027dev.example.com\u0027: \u0027example.com\u0027\n    }\n    }\n\n1. The crawler encounters \u0060https://dev.example.com/solutions/voice-search/\u0060.\n\n1. \u0060hostnameAliases\u0060 transforms the URL to \u0060https://example.com/solutions/voice-search/\u0060.\n\n1. The crawler follows the transformed URL (not the original).\n\n\n**\u0060hostnameAliases\u0060 only changes URLs, not page text. In the preceding example, if the extracted text contains the string \u0060dev.example.com\u0060, it remains unchanged.**\n\n\nThe crawler can discover URLs in places such as:\n\n\n- Crawled pages\n\n- Sitemaps\n\n- [Canonical URLs](https://www.algolia.com/doc/tools/crawler/getting-started/crawler-configuration/#canonical-urls-and-crawler-behavior)\n\n- Redirects. \n\n\nHowever, \u0060hostnameAliases\u0060 doesn\u0027t transform URLs you explicitly set in the \u0060startUrls\u0060 or \u0060sitemaps\u0060 parameters,\nnor does it affect the \u0060pathsToMatch\u0060 action or other configuration elements.\n",
        "example": {
          "dev.example.com": "example.com"
        }
      },
      "PathAliases": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/PathAliasesAdditionalPropertiesProperty"
        },
        "description": "Key-value pairs to replace matching paths with new values.\n\nIt doesn\u0027t replace:\n\n- URLs in the \u0060startUrls\u0060, \u0060sitemaps\u0060, \u0060pathsToMatch\u0060, and other settings\n- Paths found in extracted text\n\nThe crawl continues from the _transformed_ URLs.\n\n\nFor example, if you create a mapping for \u0060{ \u0022dev.example.com\u0022: { \u0027/foo\u0027: \u0027/bar\u0027 } }\u0060 and the crawler encounters \u0060https://dev.example.com/foo/hello/\u0060,\nit\u2019s transformed to \u0060https://dev.example.com/bar/hello/\u0060.\n\n\n\u003E Compare with the \u0060hostnameAliases\u0060 action.\n",
        "example": {
          "example.com": {
            "/foo": "/bar"
          }
        }
      },
      "ConfigurationRecordExtractorType": {
        "enum": [
          "function"
        ],
        "type": "string",
        "additionalProperties": false,
        "x-ms-enum": {
          "name": "ConfigurationRecordExtractorType",
          "modelAsString": false,
          "values": [
            {
              "value": "function",
              "name": "Function"
            }
          ]
        }
      },
      "Action": {
        "required": [
          "indexName",
          "recordExtractor"
        ],
        "type": "object",
        "properties": {
          "autoGenerateObjectIDs": {
            "type": "boolean",
            "description": "Whether to generate an \u0060objectID\u0060 for records that don\u0027t have one.",
            "default": true
          },
          "cache": {
            "$ref": "#/components/schemas/Cache"
          },
          "discoveryPatterns": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Use [micromatch](https://github.com/micromatch/micromatch) for negation, wildcards, and more.\n"
            },
            "description": "Which _intermediary_ web pages the crawler should visit.\nUse \u0060discoveryPatterns\u0060 to define pages that should be visited _just_ for their links to other pages,\n_not_ their content.\nIt functions similarly to the \u0060pathsToMatch\u0060 action but without record extraction.\n"
          },
          "fileTypesToMatch": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileTypes"
            },
            "description": "File types for crawling non-HTML documents.\n",
            "default": [
              "html"
            ]
          },
          "hostnameAliases": {
            "$ref": "#/components/schemas/ActionHostnameAliases"
          },
          "indexName": {
            "maxLength": 256,
            "type": "string",
            "description": "Reference to the index used to store the action\u0027s extracted records.\n\u0060indexName\u0060 is combined with the prefix you specified in \u0060indexPrefix\u0060.\n",
            "example": "algolia_website"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier for the action. This option is required if \u0060schedule\u0060 is set."
          },
          "pathAliases": {
            "$ref": "#/components/schemas/ActionPathAliases"
          },
          "pathsToMatch": {
            "maxItems": 100,
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string",
              "description": "Use [micromatch](https://github.com/micromatch/micromatch) for negation, wildcards, and more.\n"
            },
            "description": "URLs to which this action should apply.\n\nUses [micromatch](https://github.com/micromatch/micromatch) for negation, wildcards, and more.\n"
          },
          "recordExtractor": {
            "$ref": "#/components/schemas/ActionRecordExtractor"
          },
          "schedule": {
            "type": "string",
            "description": "How often to perform a complete crawl for this action.\n\nFor mopre information, consult the [\u0060schedule\u0060 parameter documentation](https://www.algolia.com/doc/tools/crawler/apis/configuration/schedule).\n"
          },
          "selectorsToMatch": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "type": "string",
              "description": "Prefix a selector with \u0060!\u0060 to ignore matching pages. \n"
            },
            "description": "DOM selectors for nodes that must be present on the page to be processed.\nIf the page doesn\u0027t match any of the selectors, it\u0027s ignored.\n"
          }
        },
        "description": "How to process crawled URLs.\n\nEach action defines:\n\n- The targeted subset of URLs it processes.\n- What information to extract from the web pages.\n- The Algolia indices where the extracted records will be stored.\n\nIf a single web page matches several actions,\none record is generated for each action.\n"
      },
      "IgnoreCanonicalTo": {
        "type": "object",
        "oneOf": [
          {
            "type": "boolean",
            "description": "Determines if the crawler should extract records from a page with a [canonical URL](https://www.algolia.com/doc/tools/crawler/getting-started/crawler-configuration/#canonical-urls-and-crawler-behavior).\n\nIf \u0060ignoreCanonicalTo\u0060 is set to:\n\n- \u0060true\u0060 all canonical URLs are ignored.\n- One or more URL patterns, the crawler will ignore the canonical URL if it matches a pattern.\n"
          },
          {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Pattern or URL.\n\nCanonical URLs are only ignored if they match this pattern.\n"
            },
            "description": "Canonical URLs or URL patterns to ignore.\n"
          }
        ]
      },
      "SupportedLanguage": {
        "enum": [
          "af",
          "ar",
          "az",
          "bg",
          "bn",
          "ca",
          "cs",
          "cy",
          "da",
          "de",
          "el",
          "en",
          "eo",
          "es",
          "et",
          "eu",
          "fa",
          "fi",
          "fo",
          "fr",
          "ga",
          "gl",
          "he",
          "hi",
          "hu",
          "hy",
          "id",
          "is",
          "it",
          "ja",
          "ka",
          "kk",
          "ko",
          "ku",
          "ky",
          "lt",
          "lv",
          "mi",
          "mn",
          "mr",
          "ms",
          "mt",
          "nb",
          "nl",
          "no",
          "ns",
          "pl",
          "ps",
          "pt",
          "pt-br",
          "qu",
          "ro",
          "ru",
          "sk",
          "sq",
          "sv",
          "sw",
          "ta",
          "te",
          "th",
          "tl",
          "tn",
          "tr",
          "tt",
          "uk",
          "ur",
          "uz",
          "zh"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "ISO code for a supported language.",
        "x-ms-enum": {
          "name": "SupportedLanguage",
          "modelAsString": false,
          "values": [
            {
              "value": "af",
              "name": "Af"
            },
            {
              "value": "ar",
              "name": "Ar"
            },
            {
              "value": "az",
              "name": "Az"
            },
            {
              "value": "bg",
              "name": "Bg"
            },
            {
              "value": "bn",
              "name": "Bn"
            },
            {
              "value": "ca",
              "name": "Ca"
            },
            {
              "value": "cs",
              "name": "Cs"
            },
            {
              "value": "cy",
              "name": "Cy"
            },
            {
              "value": "da",
              "name": "Da"
            },
            {
              "value": "de",
              "name": "De"
            },
            {
              "value": "el",
              "name": "El"
            },
            {
              "value": "en",
              "name": "En"
            },
            {
              "value": "eo",
              "name": "Eo"
            },
            {
              "value": "es",
              "name": "Es"
            },
            {
              "value": "et",
              "name": "Et"
            },
            {
              "value": "eu",
              "name": "Eu"
            },
            {
              "value": "fa",
              "name": "Fa"
            },
            {
              "value": "fi",
              "name": "Fi"
            },
            {
              "value": "fo",
              "name": "Fo"
            },
            {
              "value": "fr",
              "name": "Fr"
            },
            {
              "value": "ga",
              "name": "Ga"
            },
            {
              "value": "gl",
              "name": "Gl"
            },
            {
              "value": "he",
              "name": "He"
            },
            {
              "value": "hi",
              "name": "Hi"
            },
            {
              "value": "hu",
              "name": "Hu"
            },
            {
              "value": "hy",
              "name": "Hy"
            },
            {
              "value": "id",
              "name": "Id"
            },
            {
              "value": "is",
              "name": "IsValue"
            },
            {
              "value": "it",
              "name": "It"
            },
            {
              "value": "ja",
              "name": "Ja"
            },
            {
              "value": "ka",
              "name": "Ka"
            },
            {
              "value": "kk",
              "name": "Kk"
            },
            {
              "value": "ko",
              "name": "Ko"
            },
            {
              "value": "ku",
              "name": "Ku"
            },
            {
              "value": "ky",
              "name": "Ky"
            },
            {
              "value": "lt",
              "name": "Lt"
            },
            {
              "value": "lv",
              "name": "Lv"
            },
            {
              "value": "mi",
              "name": "Mi"
            },
            {
              "value": "mn",
              "name": "Mn"
            },
            {
              "value": "mr",
              "name": "Mr"
            },
            {
              "value": "ms",
              "name": "Ms"
            },
            {
              "value": "mt",
              "name": "Mt"
            },
            {
              "value": "nb",
              "name": "Nb"
            },
            {
              "value": "nl",
              "name": "Nl"
            },
            {
              "value": "no",
              "name": "No"
            },
            {
              "value": "ns",
              "name": "Ns"
            },
            {
              "value": "pl",
              "name": "Pl"
            },
            {
              "value": "ps",
              "name": "Ps"
            },
            {
              "value": "pt",
              "name": "Pt"
            },
            {
              "value": "pt-br",
              "name": "PtBr"
            },
            {
              "value": "qu",
              "name": "Qu"
            },
            {
              "value": "ro",
              "name": "Ro"
            },
            {
              "value": "ru",
              "name": "Ru"
            },
            {
              "value": "sk",
              "name": "Sk"
            },
            {
              "value": "sq",
              "name": "Sq"
            },
            {
              "value": "sv",
              "name": "Sv"
            },
            {
              "value": "sw",
              "name": "Sw"
            },
            {
              "value": "ta",
              "name": "Ta"
            },
            {
              "value": "te",
              "name": "Te"
            },
            {
              "value": "th",
              "name": "Th"
            },
            {
              "value": "tl",
              "name": "Tl"
            },
            {
              "value": "tn",
              "name": "Tn"
            },
            {
              "value": "tr",
              "name": "Tr"
            },
            {
              "value": "tt",
              "name": "Tt"
            },
            {
              "value": "uk",
              "name": "Uk"
            },
            {
              "value": "ur",
              "name": "Ur"
            },
            {
              "value": "uz",
              "name": "Uz"
            },
            {
              "value": "zh",
              "name": "Zh"
            }
          ]
        }
      },
      "UserData": {
        "type": "object",
        "description": "An object with custom data.\n\nYou can store up to 32kB as custom data.\n",
        "example": {
          "settingID": "f2a7b51e3503acc6a39b3784ffb84300",
          "pluginVersion": "1.6.0"
        },
        "x-categories": [
          "Advanced"
        ]
      },
      "MaxFacetHits": {
        "maximum": 100,
        "type": "integer",
        "description": "Maximum number of facet values to return when [searching for facet values](https://www.algolia.com/doc/guides/managing-results/refine-results/faceting/#search-for-facet-values).",
        "default": 10,
        "x-categories": [
          "Advanced"
        ]
      },
      "BaseIndexSettings": {
        "type": "object",
        "properties": {
          "attributesForFaceting": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Attributes used for [faceting](https://www.algolia.com/doc/guides/managing-results/refine-results/faceting).\n\nFacets are attributes that let you categorize search results.\nThey can be used for filtering search results.\nBy default, no attribute is used for faceting.\nAttribute names are case-sensitive.\n\n**Modifiers**\n\n- \u0060filterOnly(\u0022ATTRIBUTE\u0022)\u0060.\n  Allows the attribute to be used as a filter but doesn\u0027t evaluate the facet values.\n\n- \u0060searchable(\u0022ATTRIBUTE\u0022)\u0060.\n  Allows searching for facet values.\n\n- \u0060afterDistinct(\u0022ATTRIBUTE\u0022)\u0060.\n  Evaluates the facet count _after_ deduplication with \u0060distinct\u0060.\n  This ensures accurate facet counts.\n  You can apply this modifier to searchable facets: \u0060afterDistinct(searchable(ATTRIBUTE))\u0060.\n",
            "default": [],
            "x-categories": [
              "Faceting"
            ]
          },
          "replicas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Creates [replica indices](https://www.algolia.com/doc/guides/managing-results/refine-results/sorting/in-depth/replicas).\n\nReplicas are copies of a primary index with the same records but different settings, synonyms, or rules.\nIf you want to offer a different ranking or sorting of your search results, you\u0027ll use replica indices.\nAll index operations on a primary index are automatically forwarded to its replicas.\nTo add a replica index, you must provide the complete set of replicas to this parameter.\nIf you omit a replica from this list, the replica turns into a regular, standalone index that will no longer be synced with the primary index.\n\n**Modifier**\n\n- \u0060virtual(\u0022REPLICA\u0022)\u0060.\n  Create a virtual replica,\n  Virtual replicas don\u0027t increase the number of records and are optimized for [Relevant sorting](https://www.algolia.com/doc/guides/managing-results/refine-results/sorting/in-depth/relevant-sort).\n",
            "default": [],
            "x-categories": [
              "Ranking"
            ]
          },
          "paginationLimitedTo": {
            "maximum": 20000,
            "type": "integer",
            "description": "Maximum number of search results that can be obtained through pagination.\n\nHigher pagination limits might slow down your search.\nFor pagination limits above 1,000, the sorting of results beyond the 1,000th hit can\u0027t be guaranteed.\n",
            "format": "int64",
            "default": 1000,
            "example": 100
          },
          "unretrievableAttributes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Attributes that can\u0027t be retrieved at query time.\n\nThis can be useful if you want to use an attribute for ranking or to [restrict access](https://www.algolia.com/doc/guides/security/api-keys/how-to/user-restricted-access-to-data),\nbut don\u0027t want to include it in the search results.\nAttribute names are case-sensitive.\n",
            "default": [],
            "x-categories": [
              "Attributes"
            ]
          },
          "disableTypoToleranceOnWords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Creates a list of [words which require exact matches](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/typo-tolerance/in-depth/configuring-typo-tolerance/#turn-off-typo-tolerance-for-certain-words).\nThis also turns off [word splitting and concatenation](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/in-depth/splitting-and-concatenation) for the specified words.\n",
            "default": [],
            "x-categories": [
              "Typos"
            ]
          },
          "attributesToTransliterate": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Attributes, for which you want to support [Japanese transliteration](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/in-depth/language-specific-configurations/#japanese-transliteration-and-type-ahead).\n\nTransliteration supports searching in any of the Japanese writing systems.\nTo support transliteration, you must set the indexing language to Japanese.\nAttribute names are case-sensitive.\n",
            "x-categories": [
              "Languages"
            ]
          },
          "camelCaseAttributes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Attributes for which to split [camel case](https://wikipedia.org/wiki/Camel_case) words.\nAttribute names are case-sensitive.\n",
            "default": [],
            "x-categories": [
              "Languages"
            ]
          },
          "decompoundedAttributes": {
            "$ref": "#/components/schemas/BaseIndexSettingsDecompoundedAttributesProperty"
          },
          "indexLanguages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportedLanguage"
            },
            "description": "Languages for language-specific processing steps, such as word detection and dictionary settings.\n\n**Always specify an indexing language.**\nIf you don\u0027t specify an indexing language, the search engine uses all [supported languages](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/in-depth/supported-languages),\nor the languages you specified with the \u0060ignorePlurals\u0060 or \u0060removeStopWords\u0060 parameters.\nThis can lead to unexpected search results.\nFor more information, see [Language-specific configuration](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/in-depth/language-specific-configurations).\n",
            "default": [],
            "x-categories": [
              "Languages"
            ]
          },
          "disablePrefixOnAttributes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Searchable attributes for which you want to turn off [prefix matching](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/override-search-engine-defaults/#adjusting-prefix-search).\nAttribute names are case-sensitive.\n",
            "default": [],
            "x-categories": [
              "Query strategy"
            ]
          },
          "allowCompressionOfIntegerArray": {
            "type": "boolean",
            "description": "Whether arrays with exclusively non-negative integers should be compressed for better performance.\nIf true, the compressed arrays may be reordered.\n",
            "default": false,
            "x-categories": [
              "Performance"
            ]
          },
          "numericAttributesForFiltering": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Numeric attributes that can be used as [numerical filters](https://www.algolia.com/doc/guides/managing-results/rules/detecting-intent/how-to/applying-a-custom-filter-for-a-specific-query/#numerical-filters).\nAttribute names are case-sensitive.\n\nBy default, all numeric attributes are available as numerical filters.\nFor faster indexing, reduce the number of numeric attributes.\n\nTo turn off filtering for all numeric attributes, specify an attribute that doesn\u0027t exist in your index, such as \u0060NO_NUMERIC_FILTERING\u0060.\n\n**Modifier**\n\n- \u0060equalOnly(\u0022ATTRIBUTE\u0022)\u0060.\n  Support only filtering based on equality comparisons \u0060=\u0060 and \u0060!=\u0060.\n",
            "default": [],
            "x-categories": [
              "Performance"
            ]
          },
          "separatorsToIndex": {
            "type": "string",
            "description": "Control which non-alphanumeric characters are indexed.\n\nBy default, Algolia ignores [non-alphanumeric characters](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/typo-tolerance/how-to/how-to-search-in-hyphenated-attributes/#handling-non-alphanumeric-characters) like hyphen (\u0060-\u0060), plus (\u0060\u002B\u0060), and parentheses (\u0060(\u0060,\u0060)\u0060).\nTo include such characters, define them with \u0060separatorsToIndex\u0060.\n\nSeparators are all non-letter characters except spaces and currency characters, such as $\u20AC\u00A3\u00A5.\n\nWith \u0060separatorsToIndex\u0060, Algolia treats separator characters as separate words.\nFor example, in a search for \u0022Disney\u002B\u0022, Algolia considers \u0022Disney\u0022 and \u0022\u002B\u0022 as two separate words.\n",
            "example": "\u002B#",
            "x-categories": [
              "Typos"
            ]
          },
          "searchableAttributes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Attributes used for searching. Attribute names are case-sensitive.\n\nBy default, all attributes are searchable and the [Attribute](https://www.algolia.com/doc/guides/managing-results/relevance-overview/in-depth/ranking-criteria/#attribute) ranking criterion is turned off.\nWith a non-empty list, Algolia only returns results with matches in the selected attributes.\nIn addition, the Attribute ranking criterion is turned on: matches in attributes that are higher in the list of \u0060searchableAttributes\u0060 rank first.\nTo make matches in two attributes rank equally, include them in a comma-separated string, such as \u0060\u0022title,alternate_title\u0022\u0060.\nAttributes with the same priority are always unordered.\n\nFor more information, see [Searchable attributes](https://www.algolia.com/doc/guides/sending-and-managing-data/prepare-your-data/how-to/setting-searchable-attributes).\n\n**Modifier**\n\n- \u0060unordered(\u0022ATTRIBUTE\u0022)\u0060.\n  Ignore the position of a match within the attribute.\n\nWithout a modifier, matches at the beginning of an attribute rank higher than matches at the end.\n",
            "default": [],
            "x-categories": [
              "Attributes"
            ]
          },
          "userData": {
            "$ref": "#/components/schemas/BaseIndexSettingsUserData"
          },
          "customNormalization": {
            "$ref": "#/components/schemas/BaseIndexSettingsCustomNormalizationProperty"
          },
          "attributeForDistinct": {
            "type": "string",
            "description": "Attribute that should be used to establish groups of results.\nAttribute names are case-sensitive.\n\nAll records with the same value for this attribute are considered a group.\nYou can combine \u0060attributeForDistinct\u0060 with the \u0060distinct\u0060 search parameter to control\nhow many items per group are included in the search results.\n\nIf you want to use the same attribute also for faceting, use the \u0060afterDistinct\u0060 modifier of the \u0060attributesForFaceting\u0060 setting.\nThis applies faceting _after_ deduplication, which will result in accurate facet counts.\n",
            "example": "url"
          },
          "maxFacetHits": {
            "maximum": 100,
            "type": "integer",
            "description": "Maximum number of facet values to return when [searching for facet values](https://www.algolia.com/doc/guides/managing-results/refine-results/faceting/#search-for-facet-values)."
          },
          "keepDiacriticsOnCharacters": {
            "type": "string",
            "description": "Characters for which diacritics should be preserved.\n\nBy default, Algolia removes diacritics from letters.\nFor example, \u0060\u00E9\u0060 becomes \u0060e\u0060. If this causes issues in your search,\nyou can specify characters that should keep their diacritics.\n",
            "example": "\u00F8\u00E9",
            "x-categories": [
              "Languages"
            ]
          },
          "customRanking": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Attributes to use as [custom ranking](https://www.algolia.com/doc/guides/managing-results/must-do/custom-ranking).\nAttribute names are case-sensitive.\n\nThe custom ranking attributes decide which items are shown first if the other ranking criteria are equal.\n\nRecords with missing values for your selected custom ranking attributes are always sorted last.\nBoolean attributes are sorted based on their alphabetical order.\n\n**Modifiers**\n\n- \u0060asc(\u0022ATTRIBUTE\u0022)\u0060.\n  Sort the index by the values of an attribute, in ascending order.\n\n- \u0060desc(\u0022ATTRIBUTE\u0022)\u0060.\n  Sort the index by the values of an attribute, in descending order.\n\nIf you use two or more custom ranking attributes,\n[reduce the precision](https://www.algolia.com/doc/guides/managing-results/must-do/custom-ranking/how-to/controlling-custom-ranking-metrics-precision) of your first attributes,\nor the other attributes will never be applied.\n",
            "default": [],
            "x-categories": [
              "Ranking"
            ]
          }
        },
        "additionalProperties": false
      },
      "AttributesToRetrieve": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "Attributes to include in the API response.\nTo reduce the size of your response, you can retrieve only some of the attributes.\nAttribute names are case-sensitive\n- \u0060*\u0060 retrieves all attributes, except attributes included in the \u0060customRanking\u0060 and \u0060unretrievableAttributes\u0060 settings.\n- To retrieve all attributes except a specific one, prefix the attribute with a dash and combine it with the \u0060*\u0060: \u0060[\u0022*\u0022, \u0022-ATTRIBUTE\u0022]\u0060.\n- The \u0060objectID\u0060 attribute is always included.\n",
        "default": [
          "*"
        ],
        "x-categories": [
          "Attributes"
        ]
      },
      "RelevancyStrictness": {
        "type": "integer",
        "description": "Relevancy threshold below which less relevant results aren\u0027t included in the results.\nYou can only set \u0060relevancyStrictness\u0060 on [virtual replica indices](https://www.algolia.com/doc/guides/managing-results/refine-results/sorting/in-depth/replicas/#what-are-virtual-replicas).\nUse this setting to strike a balance between the relevance and number of returned results.\n",
        "default": 100,
        "example": 90,
        "x-categories": [
          "Ranking"
        ]
      },
      "AttributesToHighlight": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "Attributes to highlight.\nBy default, all searchable attributes are highlighted.\nUse \u0060*\u0060 to highlight all attributes or use an empty array \u0060[]\u0060 to turn off highlighting.\nAttribute names are case-sensitive\nWith highlighting, strings that match the search query are surrounded by HTML tags defined by \u0060highlightPreTag\u0060 and \u0060highlightPostTag\u0060.\nYou can use this to visually highlight matching parts of a search query in your UI\nFor more information, see [Highlighting and snippeting](https://www.algolia.com/doc/guides/building-search-ui/ui-and-ux-patterns/highlighting-snippeting/js).\n",
        "x-categories": [
          "Highlighting and Snippeting"
        ]
      },
      "AttributesToSnippet": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "Attributes for which to enable snippets.\nAttribute names are case-sensitive\nSnippets provide additional context to matched words.\nIf you enable snippets, they include 10 words, including the matched word.\nThe matched word will also be wrapped by HTML tags for highlighting.\nYou can adjust the number of words with the following notation: \u0060ATTRIBUTE:NUMBER\u0060,\nwhere \u0060NUMBER\u0060 is the number of words to be extracted.\n",
        "default": [],
        "x-categories": [
          "Highlighting and Snippeting"
        ]
      },
      "HighlightPreTag": {
        "type": "string",
        "description": "HTML tag to insert before the highlighted parts in all highlighted results and snippets.",
        "default": "\u003Cem\u003E",
        "x-categories": [
          "Highlighting and Snippeting"
        ]
      },
      "HighlightPostTag": {
        "type": "string",
        "description": "HTML tag to insert after the highlighted parts in all highlighted results and snippets.",
        "default": "\u003C/em\u003E",
        "x-categories": [
          "Highlighting and Snippeting"
        ]
      },
      "SnippetEllipsisText": {
        "type": "string",
        "description": "String used as an ellipsis indicator when a snippet is truncated.",
        "default": "\u2026",
        "x-categories": [
          "Highlighting and Snippeting"
        ]
      },
      "RestrictHighlightAndSnippetArrays": {
        "type": "boolean",
        "description": "Whether to restrict highlighting and snippeting to items that at least partially matched the search query.\nBy default, all items are highlighted and snippeted.\n",
        "default": false,
        "x-categories": [
          "Highlighting and Snippeting"
        ]
      },
      "HitsPerPage": {
        "maximum": 1000,
        "minimum": 1,
        "type": "integer",
        "description": "Number of hits per page.",
        "default": 20,
        "x-categories": [
          "Pagination"
        ]
      },
      "MinWordSizefor1Typo": {
        "type": "integer",
        "description": "Minimum number of characters a word in the search query must contain to accept matches with [one typo](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/typo-tolerance/in-depth/configuring-typo-tolerance/#configuring-word-length-for-typos).",
        "default": 4,
        "x-categories": [
          "Typos"
        ]
      },
      "MinWordSizefor2Typos": {
        "type": "integer",
        "description": "Minimum number of characters a word in the search query must contain to accept matches with [two typos](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/typo-tolerance/in-depth/configuring-typo-tolerance/#configuring-word-length-for-typos).",
        "default": 8,
        "x-categories": [
          "Typos"
        ]
      },
      "TypoToleranceEnum": {
        "title": "typo tolerance",
        "enum": [
          "min",
          "strict",
          "true",
          "false"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "- \u0060min\u0060. Return matches with the lowest number of typos.\n  For example, if you have matches without typos, only include those.\n  But if there are no matches without typos (with 1 typo), include matches with 1 typo (2 typos).\n- \u0060strict\u0060. Return matches with the two lowest numbers of typos.\n  With \u0060strict\u0060, the Typo ranking criterion is applied first in the \u0060ranking\u0060 setting.\n",
        "x-ms-enum": {
          "name": "TypoToleranceEnum",
          "modelAsString": false,
          "values": [
            {
              "value": "min",
              "name": "Min"
            },
            {
              "value": "strict",
              "name": "Strict"
            },
            {
              "value": "true",
              "name": "TrueValue"
            },
            {
              "value": "false",
              "name": "FalseValue"
            }
          ]
        }
      },
      "TypoTolerance": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/TypoToleranceBranch1"
          },
          {
            "$ref": "#/components/schemas/TypoToleranceEnumWrapper"
          }
        ],
        "description": "Whether [typo tolerance](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/typo-tolerance) is enabled and how it is applied.\n\nIf typo tolerance is true, \u0060min\u0060, or \u0060strict\u0060, [word splitting and concatenation](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/in-depth/splitting-and-concatenation) are also active.\n",
        "x-categories": [
          "Typos"
        ]
      },
      "AllowTyposOnNumericTokens": {
        "type": "boolean",
        "description": "Whether to allow typos on numbers in the search query.\nTurn off this setting to reduce the number of irrelevant matches\nwhen searching in large sets of similar numbers.\n",
        "default": true,
        "x-categories": [
          "Typos"
        ]
      },
      "DisableTypoToleranceOnAttributes": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "Attributes for which you want to turn off [typo tolerance](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/typo-tolerance).\nAttribute names are case-sensitive\nReturning only exact matches can help when\n- [Searching in hyphenated attributes](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/typo-tolerance/how-to/how-to-search-in-hyphenated-attributes).\n- Reducing the number of matches when you have too many.\n  This can happen with attributes that are long blocks of text, such as product descriptions.\nConsider alternatives such as \u0060disableTypoToleranceOnWords\u0060 or adding synonyms if your attributes have intentional unusual spellings that might look like typos.\n",
        "default": [],
        "x-categories": [
          "Typos"
        ]
      },
      "BooleanString": {
        "enum": [
          "true",
          "false"
        ],
        "type": "string",
        "additionalProperties": false,
        "x-ms-enum": {
          "name": "BooleanString",
          "modelAsString": false,
          "values": [
            {
              "value": "true",
              "name": "TrueValue"
            },
            {
              "value": "false",
              "name": "FalseValue"
            }
          ]
        }
      },
      "IgnorePlurals": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IgnorePluralsBranch1"
          },
          {
            "$ref": "#/components/schemas/BooleanStringWrapper"
          },
          {
            "$ref": "#/components/schemas/IgnorePluralsBranch3"
          }
        ],
        "description": "Treat singular, plurals, and other forms of declensions as equivalent.\nOnly use this feature for the languages used in your index.\n",
        "x-categories": [
          "Languages"
        ]
      },
      "RemoveStopWords": {
        "type": "object",
        "oneOf": [
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportedLanguage"
            },
            "description": "ISO code for languages for which stop words should be removed. This overrides languages you set in \u0060queryLanguges\u0060."
          },
          {
            "type": "boolean",
            "description": "If true, stop words are removed for all languages you included in \u0060queryLanguages\u0060, or for all supported languages, if \u0060queryLanguages\u0060 is empty.\nIf false, stop words are not removed.\n",
            "default": false
          }
        ],
        "description": "Removes stop words from the search query.\n\nStop words are common words like articles, conjunctions, prepositions, or pronouns that have little or no meaning on their own.\nIn English, \u0022the\u0022, \u0022a\u0022, or \u0022and\u0022 are stop words.\n\nOnly use this feature for the languages used in your index.\n",
        "x-categories": [
          "Languages"
        ]
      },
      "QueryLanguages": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SupportedLanguage"
        },
        "description": "Languages for language-specific query processing steps such as plurals, stop-word removal, and word-detection dictionaries.\nThis setting sets a default list of languages used by the \u0060removeStopWords\u0060 and \u0060ignorePlurals\u0060 settings.\nThis setting also sets a dictionary for word detection in the logogram-based [CJK](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/in-depth/normalization/#normalization-for-logogram-based-languages-cjk) languages.\nTo support this, place the CJK language **first**.\n**Always specify a query language.**\nIf you don\u0027t specify an indexing language, the search engine uses all [supported languages](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/in-depth/supported-languages),\nor the languages you specified with the \u0060ignorePlurals\u0060 or \u0060removeStopWords\u0060 parameters.\nThis can lead to unexpected search results.\nFor more information, see [Language-specific configuration](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/in-depth/language-specific-configurations).\n",
        "default": [],
        "x-categories": [
          "Languages"
        ]
      },
      "DecompoundQuery": {
        "type": "boolean",
        "description": "Whether to split compound words in the query into their building blocks.\nFor more information, see [Word segmentation](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/in-depth/language-specific-configurations/#splitting-compound-words).\nWord segmentation is supported for these languages: German, Dutch, Finnish, Swedish, and Norwegian.\nDecompounding doesn\u0027t work for words with [non-spacing mark Unicode characters](https://www.charactercodes.net/category/non-spacing_mark).\nFor example, \u0060Gartenst\u00FChle\u0060 won\u0027t be decompounded if the \u0060\u00FC\u0060 consists of \u0060u\u0060 (U\u002B0075) and \u0060\u25CC\u0308\u0060 (U\u002B0308).\n",
        "default": true,
        "x-categories": [
          "Languages"
        ]
      },
      "EnableRules": {
        "type": "boolean",
        "description": "Whether to enable rules.",
        "default": true,
        "x-categories": [
          "Rules"
        ]
      },
      "EnablePersonalization": {
        "type": "boolean",
        "description": "Whether to enable Personalization.",
        "default": false,
        "x-categories": [
          "Personalization"
        ]
      },
      "QueryType": {
        "enum": [
          "prefixLast",
          "prefixAll",
          "prefixNone"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Determines if and how query words are interpreted as prefixes.\n\nBy default, only the last query word is treated as a prefix (\u0060prefixLast\u0060).\nTo turn off prefix search, use \u0060prefixNone\u0060.\nAvoid \u0060prefixAll\u0060, which treats all query words as prefixes.\nThis might lead to counterintuitive results and makes your search slower.\n\nFor more information, see [Prefix searching](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/override-search-engine-defaults/in-depth/prefix-searching).\n",
        "x-categories": [
          "Query strategy"
        ],
        "x-ms-enum": {
          "name": "QueryType",
          "modelAsString": false,
          "values": [
            {
              "value": "prefixLast",
              "name": "PrefixLast"
            },
            {
              "value": "prefixAll",
              "name": "PrefixAll"
            },
            {
              "value": "prefixNone",
              "name": "PrefixNone"
            }
          ]
        }
      },
      "RemoveWordsIfNoResults": {
        "enum": [
          "none",
          "lastWords",
          "firstWords",
          "allOptional"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Strategy for removing words from the query when it doesn\u0027t return any results.\nThis helps to avoid returning empty search results.\n\n- \u0060none\u0060.\n  No words are removed when a query doesn\u0027t return results.\n\n- \u0060lastWords\u0060.\n  Treat the last (then second to last, then third to last) word as optional,\n  until there are results or at most 5 words have been removed.\n\n- \u0060firstWords\u0060.\n  Treat the first (then second, then third) word as optional,\n  until there are results or at most 5 words have been removed.\n\n- \u0060allOptional\u0060.\n  Treat all words as optional.\n\nFor more information, see [Remove words to improve results](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/empty-or-insufficient-results/in-depth/why-use-remove-words-if-no-results).\n",
        "example": "firstWords",
        "x-categories": [
          "Query strategy"
        ],
        "x-ms-enum": {
          "name": "RemoveWordsIfNoResults",
          "modelAsString": false,
          "values": [
            {
              "value": "none",
              "name": "None"
            },
            {
              "value": "lastWords",
              "name": "LastWords"
            },
            {
              "value": "firstWords",
              "name": "FirstWords"
            },
            {
              "value": "allOptional",
              "name": "AllOptional"
            }
          ]
        }
      },
      "Mode": {
        "enum": [
          "neuralSearch",
          "keywordSearch"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Search mode the index will use to query for results.\n\nThis setting only applies to indices, for which Algolia enabled NeuralSearch for you.\n",
        "x-categories": [
          "Query strategy"
        ],
        "x-ms-enum": {
          "name": "Mode",
          "modelAsString": false,
          "values": [
            {
              "value": "neuralSearch",
              "name": "NeuralSearch"
            },
            {
              "value": "keywordSearch",
              "name": "KeywordSearch"
            }
          ]
        }
      },
      "SemanticSearch": {
        "type": "object",
        "properties": {
          "eventSources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Indices from which to collect click and conversion events.\n\nIf null, the current index and all its replicas are used.\n",
            "nullable": true
          }
        },
        "description": "Settings for the semantic search part of NeuralSearch.\nOnly used when \u0060mode\u0060 is \u0060neuralSearch\u0060.\n"
      },
      "AdvancedSyntax": {
        "type": "boolean",
        "description": "Whether to support phrase matching and excluding words from search queries.\nUse the \u0060advancedSyntaxFeatures\u0060 parameter to control which feature is supported.\n",
        "default": false,
        "x-categories": [
          "Query strategy"
        ]
      },
      "OptionalWordsArray": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "List of [optional words](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/empty-or-insufficient-results/#creating-a-list-of-optional-words).",
        "default": [],
        "x-categories": [
          "Query strategy"
        ]
      },
      "OptionalWords": {
        "type": "object",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "enum": [
              null
            ],
            "nullable": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of [optional words](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/empty-or-insufficient-results/#creating-a-list-of-optional-words)."
          }
        ],
        "description": "Words that should be considered optional when found in the query.\n\nBy default, records must match all words in the search query to be included in the search results.\nAdding optional words can increase the number of search results by running an additional search query that doesn\u0027t include the optional words.\nFor example, if the search query is \u0022action video\u0022 and \u0022video\u0022 is optional,\nthe search engine runs two queries: one for \u0022action video\u0022 and one for \u0022action\u0022.\nRecords that match all words are ranked higher.\n\nFor a search query with 4 or more words **and** all its words are optional,\nthe number of matched words required for a record to be included in the search results increases for every 1,000 records:\n\n- If \u0060optionalWords\u0060 has fewer than 10 words, the required number of matched words increases by 1:\n  results 1 to 1,000 require 1 matched word; results 1,001 to 2,000 need 2 matched words.\n- If \u0060optionalWords\u0060 has 10 or more words, the required number of matched words increases by the number of optional words divided by 5 (rounded down).\n  Example: with 18 optional words, results 1 to 1,000 require 1 matched word; results 1,001 to 2,000 need 4 matched words.\n\nFor more information, see [Optional words](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/empty-or-insufficient-results/#creating-a-list-of-optional-words).\n"
      },
      "DisableExactOnAttributes": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "Searchable attributes for which you want to [turn off the Exact ranking criterion](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/override-search-engine-defaults/in-depth/adjust-exact-settings/#turn-off-exact-for-some-attributes).\nAttribute names are case-sensitive\nThis can be useful for attributes with long values, where the likelihood of an exact match is high,\nsuch as product descriptions.\nTurning off the Exact ranking criterion for these attributes favors exact matching on other attributes.\nThis reduces the impact of individual attributes with a lot of content on ranking.\n",
        "default": [],
        "x-categories": [
          "Query strategy"
        ]
      },
      "ExactOnSingleWordQuery": {
        "enum": [
          "attribute",
          "none",
          "word"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Determines how the [Exact ranking criterion](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/override-search-engine-defaults/in-depth/adjust-exact-settings/#turn-off-exact-for-some-attributes) is computed when the search query has only one word.\n\n- \u0060attribute\u0060.\n  The Exact ranking criterion is 1 if the query word and attribute value are the same.\n  For example, a search for \u0022road\u0022 will match the value \u0022road\u0022, but not \u0022road trip\u0022.\n\n- \u0060none\u0060.\n  The Exact ranking criterion is ignored on single-word searches.\n\n- \u0060word\u0060.\n  The Exact ranking criterion is 1 if the query word is found in the attribute value.\n  The query word must have at least 3 characters and must not be a stop word.\n  Only exact matches will be highlighted,\n  partial and prefix matches won\u0027t.\n",
        "x-categories": [
          "Query strategy"
        ],
        "x-ms-enum": {
          "name": "ExactOnSingleWordQuery",
          "modelAsString": false,
          "values": [
            {
              "value": "attribute",
              "name": "Attribute"
            },
            {
              "value": "none",
              "name": "None"
            },
            {
              "value": "word",
              "name": "Word"
            }
          ]
        }
      },
      "AlternativesAsExact": {
        "enum": [
          "ignorePlurals",
          "singleWordSynonym",
          "multiWordsSynonym",
          "ignoreConjugations"
        ],
        "type": "string",
        "additionalProperties": false,
        "x-categories": [
          "Query strategy"
        ],
        "x-ms-enum": {
          "name": "AlternativesAsExact",
          "modelAsString": false,
          "values": [
            {
              "value": "ignorePlurals",
              "name": "IgnorePlurals"
            },
            {
              "value": "singleWordSynonym",
              "name": "SingleWordSynonym"
            },
            {
              "value": "multiWordsSynonym",
              "name": "MultiWordsSynonym"
            },
            {
              "value": "ignoreConjugations",
              "name": "IgnoreConjugations"
            }
          ]
        }
      },
      "IndexSettingsAlternativesAsExact": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AlternativesAsExact"
        },
        "description": "Determine which plurals and synonyms should be considered an exact matches.\nBy default, Algolia treats singular and plural forms of a word, and single-word synonyms, as [exact](https://www.algolia.com/doc/guides/managing-results/relevance-overview/in-depth/ranking-criteria/#exact) matches when searching.\nFor example:\n- \u0022swimsuit\u0022 and \u0022swimsuits\u0022 are treated the same.\n- \u0022swimsuit\u0022 and \u0022swimwear\u0022 are treated the same (if they are [synonyms](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/adding-synonyms/#regular-synonyms)).\n- \u0060ignorePlurals\u0060.\n  Plurals and similar declensions added by the \u0060ignorePlurals\u0060 setting are considered exact matches.\n- \u0060singleWordSynonym\u0060.\n  Single-word synonyms, such as \u0022NY\u0022 = \u0022NYC\u0022, are considered exact matches.\n- \u0060multiWordsSynonym\u0060.\n  Multi-word synonyms, such as \u0022NY\u0022 = \u0022New York\u0022, are considered exact matches.\n",
        "default": [
          "ignorePlurals",
          "singleWordSynonym"
        ],
        "x-categories": [
          "Query strategy"
        ]
      },
      "AdvancedSyntaxFeatures": {
        "enum": [
          "exactPhrase",
          "excludeWords"
        ],
        "type": "string",
        "additionalProperties": false,
        "x-categories": [
          "Query strategy"
        ],
        "x-ms-enum": {
          "name": "AdvancedSyntaxFeatures",
          "modelAsString": false,
          "values": [
            {
              "value": "exactPhrase",
              "name": "ExactPhrase"
            },
            {
              "value": "excludeWords",
              "name": "ExcludeWords"
            }
          ]
        }
      },
      "IndexSettingsAdvancedSyntaxFeatures": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AdvancedSyntaxFeatures"
        },
        "description": "Advanced search syntax features you want to support.\n- \u0060exactPhrase\u0060.\n  Phrases in quotes must match exactly.\n  For example, \u0060sparkly blue \u0022iPhone case\u0022\u0060 only returns records with the exact string \u0022iPhone case\u0022.\n- \u0060excludeWords\u0060.\n  Query words prefixed with a \u0060-\u0060 must not occur in a record.\n  For example, \u0060search -engine\u0060 matches records that contain \u0022search\u0022 but not \u0022engine\u0022.\nThis setting only has an effect if \u0060advancedSyntax\u0060 is true.\n",
        "default": [
          "exactPhrase",
          "excludeWords"
        ],
        "x-categories": [
          "Query strategy"
        ]
      },
      "Distinct": {
        "type": "object",
        "oneOf": [
          {
            "type": "boolean",
            "description": "Whether deduplication is turned on. If true, only one member of a group is shown in the search results."
          },
          {
            "maximum": 4,
            "minimum": 0,
            "type": "integer",
            "description": "Number of members of a group of records to include in the search results.\n\n- Don\u0027t use \u0060distinct \u003E 1\u0060 for records that might be [promoted by rules](https://www.algolia.com/doc/guides/managing-results/rules/merchandising-and-promoting/how-to/promote-hits).\n  The number of hits won\u0027t be correct and faceting won\u0027t work as expected.\n- With \u0060distinct \u003E 1\u0060, the \u0060hitsPerPage\u0060 parameter controls the number of returned groups.\n  For example, with \u0060hitsPerPage: 10\u0060 and \u0060distinct: 2\u0060, up to 20 records are returned.\n  Likewise, the \u0060nbHits\u0060 response attribute contains the number of returned groups.\n",
            "default": 0
          }
        ],
        "description": "Determines how many records of a group are included in the search results.\n\nRecords with the same value for the \u0060attributeForDistinct\u0060 attribute are considered a group.\nThe \u0060distinct\u0060 setting controls how many members of the group are returned.\nThis is useful for [deduplication and grouping](https://www.algolia.com/doc/guides/managing-results/refine-results/grouping/#introducing-algolias-distinct-feature).\n\nThe \u0060distinct\u0060 setting is ignored if \u0060attributeForDistinct\u0060 is not set.\n",
        "example": 1,
        "x-categories": [
          "Advanced"
        ]
      },
      "ReplaceSynonymsInHighlight": {
        "type": "boolean",
        "description": "Whether to replace a highlighted word with the matched synonym.\nBy default, the original words are highlighted even if a synonym matches.\nFor example, with \u0060home\u0060 as a synonym for \u0060house\u0060 and a search for \u0060home\u0060,\nrecords matching either \u0022home\u0022 or \u0022house\u0022 are included in the search results,\nand either \u0022home\u0022 or \u0022house\u0022 are highlighted\nWith \u0060replaceSynonymsInHighlight\u0060 set to \u0060true\u0060, a search for \u0060home\u0060 still matches the same records,\nbut all occurrences of \u0022house\u0022 are replaced by \u0022home\u0022 in the highlighted response.\n",
        "default": false,
        "x-categories": [
          "Highlighting and Snippeting"
        ]
      },
      "MinProximity": {
        "maximum": 7,
        "minimum": 1,
        "type": "integer",
        "description": "Minimum proximity score for two matching words.\nThis adjusts the [Proximity ranking criterion](https://www.algolia.com/doc/guides/managing-results/relevance-overview/in-depth/ranking-criteria/#proximity)\nby equally scoring matches that are farther apart\nFor example, if \u0060minProximity\u0060 is 2, neighboring matches and matches with one word between them would have the same score.\n",
        "default": 1,
        "x-categories": [
          "Advanced"
        ]
      },
      "ResponseFields": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "Properties to include in the API response of search and browse requests.\nBy default, all response properties are included.\nTo reduce the response size, you can select which properties should be included\nAn empty list may lead to an empty API response (except properties you can\u0027t exclude)\nYou can\u0027t exclude these properties:\n\u0060message\u0060, \u0060warning\u0060, \u0060cursor\u0060, \u0060abTestVariantID\u0060,\nor any property added by setting \u0060getRankingInfo\u0060 to true\nYour search depends on the \u0060hits\u0060 field. If you omit this field, searches won\u0027t return any results.\nYour UI might also depend on other properties, for example, for pagination.\nBefore restricting the response size, check the impact on your search experience.\n",
        "default": [
          "*"
        ],
        "x-categories": [
          "Advanced"
        ]
      },
      "MaxValuesPerFacet": {
        "maximum": 1000,
        "type": "integer",
        "description": "Maximum number of facet values to return for each facet.",
        "default": 100,
        "x-categories": [
          "Faceting"
        ]
      },
      "SortFacetValuesBy": {
        "type": "string",
        "description": "Order in which to retrieve facet values.\n- \u0060count\u0060.\n  Facet values are retrieved by decreasing count.\n  The count is the number of matching records containing this facet value.\n- \u0060alpha\u0060.\n  Retrieve facet values alphabetically.\nThis setting doesn\u0027t influence how facet values are displayed in your UI (see \u0060renderingContent\u0060).\nFor more information, see [facet value display](https://www.algolia.com/doc/guides/building-search-ui/ui-and-ux-patterns/facet-display/js).\n",
        "default": "count",
        "x-categories": [
          "Faceting"
        ]
      },
      "AttributeCriteriaComputedByMinProximity": {
        "type": "boolean",
        "description": "Whether the best matching attribute should be determined by minimum proximity.\nThis setting only affects ranking if the Attribute ranking criterion comes before Proximity in the \u0060ranking\u0060 setting.\nIf true, the best matching attribute is selected based on the minimum proximity of multiple matches.\nOtherwise, the best matching attribute is determined by the order in the \u0060searchableAttributes\u0060 setting.\n\nPrefer \u0060attributeCriteriaComputedBy\u0060, which expresses the same two behaviors and adds the \u0060sum\u0060 strategy.\nIf you set both, \u0060attributeCriteriaComputedBy\u0060 takes precedence.\n",
        "default": false,
        "x-categories": [
          "Advanced"
        ]
      },
      "AttributeCriteriaComputedBy": {
        "title": "attribute criteria computed by",
        "enum": [
          "minProximity",
          "best",
          "sum"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Strategy for computing the Attribute ranking criterion.\nThis mainly affects multi-word queries with matches in more than one attribute.\n\nThe \u0060ranking\u0060 setting decides whether \u0060best\u0060 takes effect.\nWhen Attribute comes after Proximity, which is the default order, the engine always uses the \u0060minProximity\u0060 strategy and ignores \u0060best\u0060.\nTo select \u0060best\u0060, move Attribute before Proximity in \u0060ranking\u0060.\nThe \u0060sum\u0060 strategy applies in both orders.\n\n- \u0060minProximity\u0060.\n  Pick the best matching attribute from the attributes that form the best proximity score.\n  On an ordered attribute, the match position breaks ties.\n- \u0060best\u0060.\n  Pick the best matching attribute from all attributes that match any query word.\n  On an ordered attribute, the match position breaks ties.\n- \u0060sum\u0060.\n  Add up a score for every query word instead of picking one attribute.\n  Each word\u0027s score comes from the attribute it matched, and from its position in that attribute when the attribute is ordered.\n  A query word that matches nothing adds a large penalty.\n  A record with a lower total ranks higher.\n  A record therefore cannot rank high only because one word of a multi-word query matched a top attribute.\n  Use \u0060sum\u0060 with short, relevant attributes, and set long-text attributes to unordered.\n",
        "x-categories": [
          "Advanced"
        ],
        "x-ms-enum": {
          "name": "AttributeCriteriaComputedBy",
          "modelAsString": false,
          "values": [
            {
              "value": "minProximity",
              "name": "MinProximity"
            },
            {
              "value": "best",
              "name": "Best"
            },
            {
              "value": "sum",
              "name": "Sum"
            }
          ]
        }
      },
      "Order": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "Explicit order of facets or facet values.\n\nThis setting lets you always show specific facets or facet values at the top of the list.\n"
      },
      "Facets": {
        "type": "object",
        "properties": {
          "order": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Explicit order of facets or facet values.\n\nThis setting lets you always show specific facets or facet values at the top of the list.\n"
          }
        },
        "additionalProperties": false,
        "description": "Order of facet names."
      },
      "SortRemainingBy": {
        "enum": [
          "count",
          "alpha",
          "hidden"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Order of facet values that aren\u0027t explicitly positioned with the \u0060order\u0060 setting.\n\n- \u0060count\u0060.\n  Order remaining facet values by decreasing count.\n  The count is the number of matching records containing this facet value.\n\n- \u0060alpha\u0060.\n  Sort facet values alphabetically.\n\n- \u0060hidden\u0060.\n  Don\u0027t show facet values that aren\u0027t explicitly positioned.\n",
        "x-ms-enum": {
          "name": "SortRemainingBy",
          "modelAsString": false,
          "values": [
            {
              "value": "count",
              "name": "Count"
            },
            {
              "value": "alpha",
              "name": "Alpha"
            },
            {
              "value": "hidden",
              "name": "Hidden"
            }
          ]
        }
      },
      "Hide": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "Hide facet values."
      },
      "ValueValue": {
        "type": "object",
        "properties": {
          "order": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Explicit order of facets or facet values.\n\nThis setting lets you always show specific facets or facet values at the top of the list.\n"
          },
          "sortRemainingBy": {
            "$ref": "#/components/schemas/SortRemainingBy"
          },
          "hide": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Hide facet values."
          }
        },
        "additionalProperties": false
      },
      "ValuesValue": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/ValueValue"
        },
        "description": "Order of facet values. One object for each facet."
      },
      "FacetOrdering": {
        "type": "object",
        "properties": {
          "facets": {
            "$ref": "#/components/schemas/Facets"
          },
          "values": {
            "$ref": "#/components/schemas/FacetOrderingValues"
          }
        },
        "additionalProperties": false,
        "description": "Order of facet names and facet values in your UI."
      },
      "RedirectUrl": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "The redirect rule container."
      },
      "BannerImageUrl": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "URL for an image to show inside a banner."
      },
      "BannerImage": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BannerImageUrl"
            }
          },
          "title": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "Image to show inside a banner."
      },
      "BannerLink": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "Link for a banner defined in the Merchandising Studio."
      },
      "Banner": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/BannerImage"
          },
          "link": {
            "$ref": "#/components/schemas/BannerLink"
          }
        },
        "additionalProperties": false,
        "description": "Banner with image and link to redirect users."
      },
      "Banners": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Banner"
        },
        "description": "Banners defined in the Merchandising Studio for a given search."
      },
      "Widgets": {
        "type": "object",
        "properties": {
          "banners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Banner"
            },
            "description": "Banners defined in the Merchandising Studio for a given search."
          }
        },
        "additionalProperties": false,
[...]
