{
  "openapi": "3.0.4",
  "info": {
    "title": "Algolia Monitoring API",
    "description": "The metrics exposed by this API are based on results from external monitoring probes checking Algolia\u2019s infrastructure.\nThese metrics **reflect the overall infrastructure status and don\u2019t represent the performance of the specific APPID** used for authentication.\n\n## Base URLs\n\nBase URL for the Monitoring API:\n\n- \u0060https://status.algolia.com\u0060\n\n**All requests must use HTTPS.**\n\n## Availability and authentication\n\nAccess to the Infrastructure endpoints\nis available as part of the [Premium or Elevate plans](https://www.algolia.com/pricing).\n\nTo authenticate requests to the Infrastructure endpoints, add these headers:\n\n- \u0060x-algolia-application-id\u0060. Your Algolia application ID.\n- \u0060x-algolia-api-key\u0060. Your Monitoring API key.\n\nYou can find your application ID and API key in the [Algolia dashboard](https://dashboard.algolia.com/account/api-keys).\n\nOther endpoints don\u0027t require authentication.\n\n## Response status and errors\n\nThe Monitoring API returns JSON responses.\nSince JSON doesn\u0027t guarantee any specific ordering, don\u0027t rely on the order of attributes in the API response.\n\nSuccessful responses return \u00602xx\u0060 statuses. Client errors return \u00604xx\u0060 statuses. Server errors return \u00605xx\u0060 statuses.\nError responses have a \u0060message\u0060 property with more information.\n\n## Version\n\nThe current version of the Monitoring API is version 1, indicated by the \u0060/1/\u0060 in each endpoint\u0027s URL.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://status.algolia.com"
    }
  ],
  "paths": {
    "/{path}": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Send requests to the Algolia REST API",
        "description": "This method lets you send requests to the Algolia REST API.",
        "operationId": "CustomGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathInPath"
          },
          {
            "$ref": "#/components/parameters/Parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomGet200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/FeatureNotEnabled"
          },
          "403": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "404": {
            "$ref": "#/components/responses/IndexNotFound"
          }
        }
      },
      "post": {
        "tags": [
          "monitoring"
        ],
        "summary": "Send requests to the Algolia REST API",
        "description": "This method lets you send requests to the Algolia REST API.",
        "operationId": "CustomPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathInPath"
          },
          {
            "$ref": "#/components/parameters/Parameters"
          }
        ],
        "requestBody": {
          "description": "Parameters to send with the custom request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomPostRequestRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPost200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/FeatureNotEnabled"
          },
          "403": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "404": {
            "$ref": "#/components/responses/IndexNotFound"
          }
        }
      },
      "put": {
        "tags": [
          "monitoring"
        ],
        "summary": "Send requests to the Algolia REST API",
        "description": "This method lets you send requests to the Algolia REST API.",
        "operationId": "CustomPut",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathInPath"
          },
          {
            "$ref": "#/components/parameters/Parameters"
          }
        ],
        "requestBody": {
          "description": "Parameters to send with the custom request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomPutRequestRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPut200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/FeatureNotEnabled"
          },
          "403": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "404": {
            "$ref": "#/components/responses/IndexNotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "monitoring"
        ],
        "summary": "Send requests to the Algolia REST API",
        "description": "This method lets you send requests to the Algolia REST API.",
        "operationId": "CustomDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathInPath"
          },
          {
            "$ref": "#/components/parameters/Parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDelete200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/FeatureNotEnabled"
          },
          "403": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "404": {
            "$ref": "#/components/responses/IndexNotFound"
          }
        }
      }
    },
    "/1/status": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Retrieve status of all clusters",
        "description": "Retrieves the status of all Algolia clusters and instances.",
        "operationId": "GetStatus",
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        },
        "security": []
      }
    },
    "/1/status/{clusters}": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Retrieve cluster status",
        "description": "Retrieves the status of selected clusters.",
        "operationId": "GetClusterStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/Clusters"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatusResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        },
        "security": [],
        "x-mcp-tool": true
      }
    },
    "/1/incidents": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Retrieve all incidents",
        "description": "Retrieves known incidents for all clusters.",
        "operationId": "GetIncidents",
        "responses": {
          "200": {
            "$ref": "#/components/responses/IncidentsResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        },
        "security": [],
        "x-mcp-tool": true
      }
    },
    "/1/incidents/{clusters}": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Retrieve cluster incidents",
        "description": "Retrieves known incidents for the selected clusters.",
        "operationId": "GetClusterIncidents",
        "parameters": [
          {
            "$ref": "#/components/parameters/Clusters"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IncidentsResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        },
        "security": []
      }
    },
    "/1/inventory/servers": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Retrieve servers",
        "description": "Retrieves the servers that belong to clusters.\n\nThe response depends on whether you authenticate your API request:\n\n- With authentication, the response lists the servers assigned to your\nAlgolia application\u0027s cluster.\n\n- Without authentication, the response lists the servers for all Algolia\nclusters.\n",
        "operationId": "GetServers",
        "responses": {
          "200": {
            "$ref": "#/components/responses/InventoryResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        },
        "security": [
          {
            "appId": []
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/1/latency/{clusters}": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Retrieve search latency times",
        "description": "Retrieves the average latency for search requests for selected clusters.",
        "operationId": "GetLatency",
        "parameters": [
          {
            "$ref": "#/components/parameters/Clusters"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LatencyResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        },
        "security": []
      }
    },
    "/1/indexing/{clusters}": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Retrieve indexing monitoring latency",
        "description": "Retrieves indexing latency metrics for selected clusters.\n\nThis endpoint is intended for infrastructure-level monitoring and availability checks.\nThe returned value reflects latency measured on Algolia\u0027s internal monitoring index\nand is reported in milliseconds.\n\nThis metric isn\u0027t intended to represent the indexing performance of an individual\napplication or index. To measure when an indexing operation has completed for your\napplication, use the \u0060waitTask\u0060 method.\n",
        "operationId": "GetIndexingTime",
        "parameters": [
          {
            "$ref": "#/components/parameters/Clusters"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IndexingResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        },
        "security": []
      }
    },
    "/1/reachability/{clusters}/probes": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Test the reachability of clusters",
        "description": "Test whether clusters are reachable or not.",
        "operationId": "GetReachability",
        "parameters": [
          {
            "$ref": "#/components/parameters/Clusters"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReachabilityResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        },
        "security": []
      }
    },
    "/1/infrastructure/{metric}/period/{period}": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Retrieve metrics",
        "description": "Retrieves metrics related to your Algolia infrastructure, aggregated over a selected time window.\n\nAccess to this API is available as part of the [Premium or Elevate plans](https://www.algolia.com/pricing).\nYou must authenticate requests with the \u0060x-algolia-application-id\u0060 and \u0060x-algolia-api-key\u0060 headers (using the Monitoring API key).\n",
        "operationId": "GetMetrics",
        "parameters": [
          {
            "$ref": "#/components/parameters/MetricInPath"
          },
          {
            "$ref": "#/components/parameters/PeriodInPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/InfrastructureResponse"
          },
          "401": {
            "$ref": "#/components/responses/InfrastructureAPIUnauthorized"
          }
        }
      }
    },
    "/setClientApiKey": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "Switch the API key used to authenticate requests",
        "description": "Switch the API key used to authenticate requests.\n",
        "operationId": "SetClientApiKey",
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "description": "API key to use for subsequent requests.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          }
        },
        "x-helper": true,
        "x-asynchronous-helper": false,
        "x-acl": []
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorBase": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Invalid Application-Id or API-Key"
          }
        },
        "description": "Error.",
        "x-keep-model": true
      },
      "Status": {
        "title": "status",
        "enum": [
          "operational",
          "degraded_performance",
          "partial_outage",
          "major_outage"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Status of the cluster.",
        "x-ms-enum": {
          "name": "Status",
          "modelAsString": false,
          "values": [
            {
              "value": "operational",
              "name": "Operational"
            },
            {
              "value": "degraded_performance",
              "name": "DegradedPerformance"
            },
            {
              "value": "partial_outage",
              "name": "PartialOutage"
            },
            {
              "value": "major_outage",
              "name": "MajorOutage"
            }
          ]
        }
      },
      "Timestamp": {
        "type": "integer",
        "description": "Timestamp, measured in milliseconds since the Unix epoch.",
        "format": "int64"
      },
      "Incident": {
        "title": "incident",
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Description of the incident."
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        },
        "description": "Incident details."
      },
      "Incidents": {
        "title": "incidents",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IncidentsItem"
        },
        "description": "Key-value pairs with the cluster names as keys and the list of incidents reported for this cluster as values."
      },
      "Region": {
        "title": "region",
        "enum": [
          "au",
          "br",
          "ca",
          "de",
          "eu",
          "hk",
          "in",
          "jp",
          "sg",
          "uae",
          "uk",
          "usc",
          "use",
          "usw",
          "za"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "Region where the cluster is located.",
        "example": "de",
        "x-ms-enum": {
          "name": "Region",
          "modelAsString": false,
          "values": [
            {
              "value": "au",
              "name": "Au"
            },
            {
              "value": "br",
              "name": "Br"
            },
            {
              "value": "ca",
              "name": "Ca"
            },
            {
              "value": "de",
              "name": "De"
            },
            {
              "value": "eu",
              "name": "Eu"
            },
            {
              "value": "hk",
              "name": "Hk"
            },
            {
              "value": "in",
              "name": "InValue"
            },
            {
              "value": "jp",
              "name": "Jp"
            },
            {
              "value": "sg",
              "name": "Sg"
            },
            {
              "value": "uae",
              "name": "Uae"
            },
            {
              "value": "uk",
              "name": "Uk"
            },
            {
              "value": "usc",
              "name": "Usc"
            },
            {
              "value": "use",
              "name": "Use"
            },
            {
              "value": "usw",
              "name": "Usw"
            },
            {
              "value": "za",
              "name": "Za"
            }
          ]
        }
      },
      "ServerStatus": {
        "title": "status",
        "enum": [
          "PRODUCTION"
        ],
        "type": "string",
        "additionalProperties": false,
        "x-ms-enum": {
          "name": "ServerStatus",
          "modelAsString": false,
          "values": [
            {
              "value": "PRODUCTION",
              "name": "Production"
            }
          ]
        }
      },
      "TypeValue": {
        "title": "type",
        "enum": [
          "cluster"
        ],
        "type": "string",
        "additionalProperties": false,
        "x-ms-enum": {
          "name": "TypeValue",
          "modelAsString": false,
          "values": [
            {
              "value": "cluster",
              "name": "Cluster"
            }
          ]
        }
      },
      "Server": {
        "title": "server",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Server name.",
            "example": "c16-de-1"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "is_slave": {
            "type": "boolean",
            "description": "Included to support legacy applications.\nUse \u0060is_replica\u0060 instead.\n",
            "default": false,
            "example": false,
            "deprecated": true
          },
          "is_replica": {
            "type": "boolean",
            "description": "Whether this server is a replica of another server.",
            "default": false,
            "example": false
          },
          "cluster": {
            "type": "string",
            "description": "Name of the cluster to which this server belongs.",
            "example": "c16-de"
          },
          "status": {
            "$ref": "#/components/schemas/ServerStatus"
          },
          "type": {
            "$ref": "#/components/schemas/TypeValue"
          }
        },
        "additionalProperties": false
      },
      "Time": {
        "title": "times",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TimeItem"
        },
        "description": "Time measured by a probe."
      },
      "Probes": {
        "title": "probes",
        "type": "object",
        "additionalProperties": {
          "type": "boolean",
          "description": "Key-value pair with the probe name as the key and the reachability status as the value.",
          "x-additionalPropertiesName": "probe"
        },
        "description": "Probes and their response."
      },
      "Metric": {
        "enum": [
          "avg_build_time",
          "ssd_usage",
          "ram_search_usage",
          "ram_indexing_usage",
          "cpu_usage",
          "*"
        ],
        "type": "string",
        "additionalProperties": false,
        "example": "*",
        "x-ms-enum": {
          "name": "Metric",
          "modelAsString": false,
          "values": [
            {
              "value": "avg_build_time",
              "name": "AvgBuildTime"
            },
            {
              "value": "ssd_usage",
              "name": "SsdUsage"
            },
            {
              "value": "ram_search_usage",
              "name": "RamSearchUsage"
            },
            {
              "value": "ram_indexing_usage",
              "name": "RamIndexingUsage"
            },
            {
              "value": "cpu_usage",
              "name": "CpuUsage"
            },
            {
              "value": "*",
              "name": "Asterisk"
            }
          ]
        }
      },
      "Period": {
        "enum": [
          "minute",
          "hour",
          "day",
          "week",
          "month"
        ],
        "type": "string",
        "additionalProperties": false,
        "example": "week",
        "x-ms-enum": {
          "name": "Period",
          "modelAsString": false,
          "values": [
            {
              "value": "minute",
              "name": "Minute"
            },
            {
              "value": "hour",
              "name": "Hour"
            },
            {
              "value": "day",
              "name": "Day"
            },
            {
              "value": "week",
              "name": "Week"
            },
            {
              "value": "month",
              "name": "Month"
            }
          ]
        }
      },
      "ProbesMetric": {
        "title": "metric",
        "type": "object",
        "properties": {
          "t": {
            "type": "integer",
            "description": "Timestamp, measured in milliseconds since the Unix epoch.",
            "format": "int64"
          },
          "v": {
            "type": "integer",
            "description": "Value of the metric."
          }
        },
        "additionalProperties": false
      },
      "InfraProbes": {
        "title": "probes",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ProbesMetric"
        }
      },
      "IncidentsItem": {
        "title": "incidentEntry",
        "type": "object",
        "properties": {
          "t": {
            "type": "integer",
            "description": "Timestamp, measured in milliseconds since the Unix epoch.",
            "format": "int64"
          },
          "v": {
            "$ref": "#/components/schemas/Incident"
          }
        }
      },
      "TimeItem": {
        "title": "timeEntry",
        "type": "object",
        "properties": {
          "t": {
            "type": "integer",
            "description": "Timestamp, measured in milliseconds since the Unix epoch.",
            "format": "int64"
          },
          "v": {
            "type": "integer",
            "description": "Time in ms."
          }
        },
        "additionalProperties": false
      },
      "StatusResponseResponse": {
        "title": "statusResponse",
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusResponseResponseStatusProperty"
          }
        }
      },
      "UnauthorizedResponseResponsePlain": {
        "type": "string"
      },
      "NotFoundResponseResponsePlain": {
        "type": "string"
      },
      "IncidentsResponseResponse": {
        "title": "incidentsResponse",
        "type": "object",
        "properties": {
          "incidents": {
            "$ref": "#/components/schemas/IncidentsResponseResponseIncidentsProperty"
          }
        }
      },
      "InventoryResponseResponse": {
        "title": "inventoryResponse",
        "type": "object",
        "properties": {
          "inventory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Server"
            }
          }
        }
      },
      "ForbiddenResponseResponse": {
        "title": "forbidden",
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "LatencyResponseResponse": {
        "title": "latencyResponse",
        "type": "object",
        "properties": {
          "metrics": {
            "$ref": "#/components/schemas/LatencyResponseResponseMetrics"
          }
        }
      },
      "BadRequestResponseResponse": {
        "title": "badRequest",
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "IndexingResponseResponse": {
        "title": "indexingTimeResponse",
        "type": "object",
        "properties": {
          "metrics": {
            "$ref": "#/components/schemas/IndexingResponseResponseMetrics"
          }
        }
      },
      "ReachabilityResponseResponse": {
        "title": "reachabilityResponse",
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/ReachabilityResponseResponseAdditionalProperties"
        }
      },
      "InfrastructureResponseResponse": {
        "title": "infrastructureResponse",
        "type": "object",
        "properties": {
          "metrics": {
            "$ref": "#/components/schemas/InfrastructureResponseResponseMetrics"
          }
        },
        "additionalProperties": false
      },
      "InfrastructureApiUnauthorizedResponse": {
        "title": "unauthorized",
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "StatusResponseResponseStatus": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/Status"
        }
      },
      "IncidentsResponseResponseIncidents": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/IncidentsItem"
          },
          "description": "Key-value pairs with the cluster names as keys and the list of incidents reported for this cluster as values."
        }
      },
      "LatencyResponseResponseMetrics": {
        "title": "latencyMetric",
        "type": "object",
        "properties": {
          "latency": {
            "$ref": "#/components/schemas/LatencyResponseResponseMetricsLatencyProperty"
          }
        },
        "additionalProperties": false
      },
      "IndexingResponseResponseMetrics": {
        "title": "indexingMetric",
        "type": "object",
        "properties": {
          "indexing": {
            "$ref": "#/components/schemas/IndexingResponseResponseMetricsIndexingProperty"
          }
        },
        "additionalProperties": false
      },
      "InfrastructureResponseResponseMetrics": {
        "title": "metrics",
        "type": "object",
        "properties": {
          "cpu_usage": {
            "$ref": "#/components/schemas/InfrastructureResponseResponseMetricsCpuUsageProperty"
          },
          "ram_indexing_usage": {
            "$ref": "#/components/schemas/InfrastructureResponseResponseMetricsRamIndexingUsageProperty"
          },
          "ram_search_usage": {
            "$ref": "#/components/schemas/InfrastructureResponseResponseMetricsRamSearchUsageProperty"
          },
          "ssd_usage": {
            "$ref": "#/components/schemas/InfrastructureResponseResponseMetricsSsdUsageProperty"
          },
          "avg_build_time": {
            "$ref": "#/components/schemas/InfrastructureResponseResponseMetricsAvgBuildTimeProperty"
          }
        },
        "additionalProperties": false
      },
      "LatencyResponseResponseMetricsLatency": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/TimeItem"
          },
          "description": "Time measured by a probe."
        }
      },
      "IndexingResponseResponseMetricsIndexing": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/TimeItem"
          },
          "description": "Time measured by a probe."
        }
      },
      "InfrastructureResponseResponseMetricsCpuUsage": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ProbesMetric"
          }
        },
        "description": "CPU idleness in %."
      },
      "InfrastructureResponseResponseMetricsRamIndexingUsage": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ProbesMetric"
          }
        },
        "description": "RAM used for indexing in MB."
      },
      "InfrastructureResponseResponseMetricsRamSearchUsage": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ProbesMetric"
          }
        },
        "description": "RAM used for search in MB."
      },
      "InfrastructureResponseResponseMetricsSsdUsage": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ProbesMetric"
          }
        },
        "description": "Solid-state disk (SSD) usage expressed as % of RAM. \n0% means no SSD usage. A value of 50% indicates 32\u0026nbsp;GB SSD usage for a machine with 64\u0026nbsp;RAM.\n"
      },
      "InfrastructureResponseResponseMetricsAvgBuildTime": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ProbesMetric"
          }
        },
        "description": "Average build time of the indices in seconds."
      },
      "CustomGet200Response": {
        "type": "object"
      },
      "CustomPostRequest": {
        "type": "object"
      },
      "CustomPost200Response": {
        "type": "object"
      },
      "CustomPutRequest": {
        "type": "object"
      },
      "CustomPut200Response": {
        "type": "object"
      },
      "CustomDelete200Response": {
        "type": "object"
      },
      "ExamplePayload": {
        "type": "object",
        "description": "Placeholder schema for path example refs"
      },
      "CustomGet200ResponseSchema": {
        "type": "object"
      },
      "CustomPostRequestRequestBody": {
        "type": "object"
      },
      "CustomPost200ResponseSchema": {
        "type": "object"
      },
      "CustomPutRequestRequestBody": {
        "type": "object"
      },
      "CustomPut200ResponseSchema": {
        "type": "object"
      },
      "CustomDelete200ResponseSchema": {
        "type": "object"
      },
      "UnauthorizedResponseResponsePlainContent": {
        "type": "string"
      },
      "NotFoundResponseResponsePlainContent": {
        "type": "string"
      },
      "ReachabilityResponseResponseContent": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/ReachabilityResponseResponseContentAdditionalProperties"
        }
      },
      "StatusResponseResponseStatusProperty": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/Status"
        }
      },
      "IncidentsResponseResponseIncidentsProperty": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/IncidentsItem"
          },
          "description": "Key-value pairs with the cluster names as keys and the list of incidents reported for this cluster as values."
        }
      },
      "ReachabilityResponseResponseAdditionalProperties": {
        "type": "object",
        "additionalProperties": {
          "type": "boolean",
          "description": "Key-value pair with the probe name as the key and the reachability status as the value.",
          "x-additionalPropertiesName": "probe"
        },
        "description": "Probes and their response."
      },
      "LatencyResponseResponseMetricsLatencyProperty": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/TimeItem"
          },
          "description": "Time measured by a probe."
        }
      },
      "IndexingResponseResponseMetricsIndexingProperty": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/TimeItem"
          },
          "description": "Time measured by a probe."
        }
      },
      "InfrastructureResponseResponseMetricsCpuUsageProperty": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ProbesMetric"
          }
        },
        "description": "CPU idleness in %."
      },
      "InfrastructureResponseResponseMetricsRamIndexingUsageProperty": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ProbesMetric"
          }
        },
        "description": "RAM used for indexing in MB."
      },
      "InfrastructureResponseResponseMetricsRamSearchUsageProperty": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ProbesMetric"
          }
        },
        "description": "RAM used for search in MB."
      },
      "InfrastructureResponseResponseMetricsSsdUsageProperty": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ProbesMetric"
          }
        },
        "description": "Solid-state disk (SSD) usage expressed as % of RAM. \n0% means no SSD usage. A value of 50% indicates 32\u0026nbsp;GB SSD usage for a machine with 64\u0026nbsp;RAM.\n"
      },
      "InfrastructureResponseResponseMetricsAvgBuildTimeProperty": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ProbesMetric"
          }
        },
        "description": "Average build time of the indices in seconds."
      },
      "ReachabilityResponseResponseContentAdditionalProperties": {
        "type": "object",
        "additionalProperties": {
          "type": "boolean",
          "description": "Key-value pair with the probe name as the key and the reachability status as the value.",
          "x-additionalPropertiesName": "probe"
        },
        "description": "Probes and their response."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request or request arguments.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBase"
            }
          }
        }
      },
      "FeatureNotEnabled": {
        "description": "This feature is not enabled on your Algolia account.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBase"
            }
          }
        }
      },
      "MethodNotAllowed": {
        "description": "Method not allowed with this API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBase"
            }
          }
        }
      },
      "IndexNotFound": {
        "description": "Index not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBase"
            }
          }
        }
      },
      "StatusResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StatusResponseResponse"
            },
            "examples": {
              "Success": {
                "value": {
                  "status": {
                    "c16-de": "operational"
                  }
                }
              }
            }
          }
        }
      },
      "UnauthorizedResponse": {
        "description": "Unauthorized",
        "content": {
          "text/plain": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedResponseResponsePlainContent"
            },
            "examples": {
              "Unauthorized": {
                "summary": "Invalid credentials",
                "description": "Use the Monitoring API key.",
                "value": "Invalid credentials"
              }
            }
          }
        }
      },
      "NotFoundResponse": {
        "description": "Not Found.",
        "content": {
          "text/plain": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundResponseResponsePlainContent"
            },
            "examples": {
              "NotFound": {
                "value": "Unknown cluster \u0022test\u0022"
              }
            }
          }
        }
      },
      "IncidentsResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/IncidentsResponseResponse"
            },
            "examples": {
              "success": {
                "value": {
                  "incidents": {
                    "m134-de": [
                      {
                        "t": 1687441685000,
                        "v": {
                          "title": "Incident on cluster m134-de: Everything operating normally.\n",
                          "status": "operational"
                        }
                      },
                      {
                        "t": 1687441579000,
                        "v": {
                          "title": "Incident on cluster m134-de: We are encountering a major\nissue that impact all API calls.\n",
                          "status": "major_outage"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "InventoryResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InventoryResponseResponse"
            },
            "examples": {
              "Success": {
                "value": {
                  "inventory": [
                    {
                      "name": "c16-de-3",
                      "region": "de",
                      "is_slave": false,
                      "is_replica": false,
                      "cluster": "c16-de",
                      "status": "PRODUCTION",
                      "type": "cluster"
                    },
                    {
                      "name": "c16-de-2",
                      "region": "de",
                      "is_slave": false,
                      "is_replica": false,
                      "cluster": "c16-de",
                      "status": "PRODUCTION",
                      "type": "cluster"
                    },
                    {
                      "name": "c16-de-1",
                      "region": "de",
                      "is_slave": false,
                      "is_replica": false,
                      "cluster": "c16-de",
                      "status": "PRODUCTION",
                      "type": "cluster"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "ForbiddenResponse": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenResponseResponse"
            },
            "examples": {
              "Forbidden": {
                "value": {
                  "reason": "invalid credentials"
                }
              }
            }
          }
        }
      },
      "LatencyResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LatencyResponseResponse"
            },
            "examples": {
              "Success": {
                "value": {
                  "metrics": {
                    "latency": {
                      "c16-de": [
                        {
                          "t": 1688056200000,
                          "v": 64
                        },
                        {
                          "t": 1688056800000,
                          "v": 59
                        },
                        {
                          "t": 1688057400000,
                          "v": 55
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BadRequestResponse": {
        "description": "Bad Request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestResponseResponse"
            },
            "examples": {
              "BadRequest": {
                "value": {
                  "reason": "Unknown servers"
                }
              }
            }
          }
        }
      },
      "IndexingResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/IndexingResponseResponse"
            },
            "examples": {
              "Success": {
                "value": {
                  "metrics": {
                    "indexing": {
                      "c16-de": [
                        {
                          "t": 1688056200000,
                          "v": 1562
                        },
                        {
                          "t": 1688056800000,
                          "v": 1637
                        },
                        {
                          "t": 1688057400000,
                          "v": 1754
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ReachabilityResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ReachabilityResponseResponseContent"
            },
            "examples": {
              "Success": {
                "value": {
                  "c16-de": {
                    "sdn-probe-frankfurt": false,
                    "monitoring-2": false,
                    "sdn-probe-awswest1": false
                  }
                }
              }
            }
          }
        }
      },
      "InfrastructureResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InfrastructureResponseResponse"
            },
            "examples": {
              "success": {
                "value": {
                  "metrics": {
                    "cpu_usage": {
                      "s4-fr": [
                        {
                          "t": 1455101280,
                          "v": 46
                        },
                        {
                          "t": 1455101290,
                          "v": 46
                        },
                        {
                          "t": 1455101300,
                          "v": 46
                        }
                      ],
                      "c3-use-1": [
                        {
                          "t": 1455101280,
                          "v": 42
                        },
                        {
                          "t": 1455101290,
                          "v": 42
                        },
                        {
                          "t": 1455101300,
                          "v": 42
                        },
                        {
                          "t": 1455101310,
                          "v": 37
                        }
                      ],
                      "c3-use-2": [
                        {
                          "t": 1455101280,
                          "v": 56
                        },
                        {
                          "t": 1455101290,
                          "v": 56
                        },
                        {
                          "t": 1455101300,
                          "v": 56
                        },
                        {
                          "t": 1455101310,
                          "v": 56
                        },
                        {
                          "t": 1455101320,
                          "v": 51
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InfrastructureAPIUnauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InfrastructureApiUnauthorizedResponse"
            },
            "examples": {
              "Unauthorized": {
                "value": {
                  "reason": "The infrastructure usage API is only available on Enterprise plans. Please contact enterprise@algolia.com for more detail."
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "PathInPath": {
        "name": "path",
        "in": "path",
        "description": "Path of the endpoint, for example \u00601/newFeature\u0060.",
        "required": true,
        "schema": {
          "type": "string",
          "example": "/keys"
        }
      },
      "Parameters": {
        "name": "parameters",
        "in": "query",
        "description": "Query parameters to apply to the current query.",
        "schema": {
          "type": "object"
        }
      },
      "Clusters": {
        "name": "clusters",
        "in": "path",
        "description": "Subset of clusters, separated by commas.",
        "required": true,
        "schema": {
          "type": "string",
          "example": "c1-de,c2-de,c3-de"
        }
      },
      "MetricInPath": {
        "name": "metric",
        "in": "path",
        "description": "Metric to report.\n\nFor more information about the individual metrics, see the description of the API response.\nTo include all metrics, use \u0060*\u0060.\n",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Metric"
        }
      },
      "PeriodInPath": {
        "name": "period",
        "in": "path",
        "description": "Period over which to aggregate the metrics:\n\n- \u0060minute\u0060. Aggregate the last minute. 1 data point per 10 seconds.\n- \u0060hour\u0060. Aggregate the last hour. 1 data point per minute.\n- \u0060day\u0060. Aggregate the last day. 1 data point per 10 minutes.\n- \u0060week\u0060. Aggregate the last week. 1 data point per hour.\n- \u0060month\u0060. Aggregate the last month. 1 data point per day.\n",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Period"
        }
      }
    },
    "securitySchemes": {
      "appId": {
        "type": "apiKey",
        "description": "Your Algolia application ID.",
        "name": "X-Algolia-Application-Id",
        "in": "header"
      },
      "apiKey": {
        "type": "apiKey",
        "description": "Your Algolia Monitoring API key.",
        "name": "X-Algolia-API-Key",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "incidents",
      "description": "List the known incidents.",
      "x-displayName": "Incidents"
    },
    {
      "name": "infrastructure",
      "description": "Return information about the Algolia infrastructure used by your application.",
      "x-displayName": "Infrastructure"
    },
    {
      "name": "monitoring-tag",
      "description": "Report search and indexing times for your clusters, and get a list of servers.",
      "x-displayName": "Monitoring"
    },
    {
      "name": "status",
      "description": "Report the status of Algolia clusters.",
      "x-displayName": "Status"
    }
  ],
  "x-tagGroups": [
    {
      "name": "General",
      "tags": [
        "status",
        "incidents",
        "infrastructure",
        "monitoring-tag"
      ]
    }
  ]
}